
# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Runtime
pids/
*.pid
*.pid.lock

# dotenv env files
.env
.env.local
.env.*.local

# Debug & coverage
coverage/
.nyc_output/

# Puppeteer Chromium cache
.chromium/
.cache/

# Sequelize CLI config (if used)
.sequelize-auto-config.json

# OS / Editor files
.DS_Store
.vscode/
.idea/

# Build folders (if using any)
dist/
build/

# Temporary files
*.tgz
*.tmp
*.swp
